@import "../vendor/bootstrap/dist/css/bootstrap.min.css";

footer img {
    transition: transform .2s ease;
}

footer img:hover {
    transform: scale(1.15);
}

.map-legend {
    background: rgba(255,255,255,0.95);
    padding: 12px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,.2);
    min-width: 160px;
}

.map-container {
    height: 75vh;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 8px 25px rgba(0,0,0,0.08);
}

#station-panel {
    /*border: 1px solid #100f0f;*/

    max-height: 220px;
    min-height:180px;
    overflow-y: auto;

}

.station-info h4 {
    font-size: 1.1rem;
}


.search-container {
    position: relative;
}


#station-results {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;

    background: white;
    z-index: 1000;

    max-height: 55vh;
    overflow-y: auto;

    border-radius: 8px;

    box-shadow: 0 5px 15px rgba(0,0,0,.15);
}


.station-item {
    padding: 10px;
    border-bottom: 1px solid #eee;
}


.station-item:hover {
    background: #f5f5f5;
}

.station-item:hover{

    background:#f5f5f5;

}

.map-layout {
    height: 70vh;
}
/*

.map-layout .card {
    height: 100%;
}*/

.map-layout .card {
    height:100%;
}
.map-layout .col-lg-4,
.map-layout .col-lg-8 {
    height:100%;
    /*border: 3px solid #ff0000;*/
}


#map {
    height: 100%;
}


.legend-color {

    width: 14px;
    height: 14px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 8px;

}


.legend-item {

    display:flex;
    align-items:center;
    margin-bottom:5px;

}

.marker-dot {

    width:20px;
    height:20px;
    border-radius:50%;
    border:3px solid white;

    transition:
        transform 0.25s ease,
        opacity 0.25s ease;
}

.station-status-dot {
    width: 14px;
    height: 14px;
    display: inline-block;
    border-radius: 50%;
    margin-right: 8px;
    vertical-align: middle;

    border: 2px solid white;

    box-shadow:
        0 0 0 2px rgba(0,0,0,0.25),
        0 2px 5px rgba(0,0,0,0.35);
}


.station-marker.highlight .marker-dot {

    transform:scale(1.5);
}

.leaflet-popup.highlight .leaflet-popup-content-wrapper {

    opacity:0.925;

}


@media (max-width:990px){

    #station-panel {

        min-height:120px;
        max-height:180px;

    }

    .map-layout{
        height:auto;
        margin-bottom:0.75em;
    }

    .map-layout .col-lg-8 {
        height:auto;
    }

    .map-container {
        height: calc(100dvh - 320px);
        min-height:400px;
        
        
    }
    
    #map {
        height:100%;
    }

}


@media (max-width:576px){

    .map-container {
        height: calc(100dvh - 280px);
        min-height:450px;
        
    }

    .btn-group {
        width:100%;
    }

    .btn-group .btn {
        flex:1;
    }

    #station-results {
        max-height:220px;
    }

}

