@import "../vendor/bootstrap/dist/css/bootstrap.min.css";

.navbar {
        position: relative;
        z-index: 2000;
    }

     

html,
body {
    height: 100%;
}

body {
    min-height: 100vh;
}

footer img {
    transition: transform .2s ease;
}

footer img:hover {
    transform: scale(1.15);
}

.map-legend {
    background: rgba(255,255,255,0.95);
    padding: 12px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,.2);
    min-width: 160px;
}

.map-container {
    height: 75vh;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 8px 25px rgba(0,0,0,0.08);
}



.station-info h4 {
    font-size: 1.1rem;
}

.search-container {
    position: relative;
}

#station-results {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: white;
    z-index: 1000;
    max-height: 55vh;
    overflow-y: auto;
    border-radius: 8px;
    opacity: 0.925;
    box-shadow: 0 5px 15px rgba(0,0,0,.15);
}





.station-item {
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.station-item:hover {
    background: #f5f5f5;
}

.map-layout {
    height: 70vh;
}

.map-layout .card {
    height:100%;
}

.map-layout .col-lg-4,
.map-layout .col-lg-8 {
    height:100%;
}

#map {
    height: 100%;
}

.legend-color {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 8px;
}

.legend-item {
    display:flex;
    align-items:center;
    margin-bottom:5px;
}

.marker-dot {
    width:20px;
    height:20px;
    border-radius:50%;
    border:3px solid white;
    transition:
        transform 0.25s ease,
        opacity 0.25s ease;
}

.station-status-dot {
    width: 14px;
    height: 14px;
    display: inline-block;
    border-radius: 50%;
    margin-right: 8px;
    vertical-align: middle;
    border: 2px solid white;
    box-shadow:
        0 0 0 2px rgba(0,0,0,0.25),
        0 2px 5px rgba(0,0,0,0.35);
}

.station-marker.highlight .marker-dot {
    transform:scale(1.5);
}




.leaflet-popup.highlight .leaflet-popup-content-wrapper {
    opacity:0.925;
}

#station-panel .btn-close {
    display: none;
}

.mobile-search-icon {
    display: none;
}

.mobile-mode-selector {
    display: none;
}




@media (max-width: 990px) {

.navbar .navbar-collapse {
        position: absolute;
        top: 100%;
        right: 10px;
        left: auto;

        width: max-content;
        min-width: 180px;

        padding: 8px 0;

        background: rgba(0, 0, 0, 0.88);
        border-radius: 12px;

        z-index: 3000;
    }
    .navbar .navbar-nav {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        margin: 0;
    }

    .navbar .navbar-nav .nav-link {
        padding: 10px 18px;
        text-align: left;
        white-space: nowrap;
    }

   .mode-buttons {
        display: none !important;
    }

    .mobile-mode-selector {
        display: flex;
        position: absolute;

        top: 62px;
        left: 90%;

        transform: translateX(-50%);

        z-index: 3000;
        pointer-events: auto !important;

        
        align-items: center;
        justify-content: center;
    }

    .mobile-mode-trigger,
    .mobile-mode-option {
        width: 46px;
        height: 46px;

        padding: 0;

        border: 1px solid rgba(0, 0, 0, .2);
        border-radius: 50%;

        background: rgba(255, 255, 255, 0.20);

        backdrop-filter: blur(12px);
        -webkit-backdrop-filter: blur(12px);

        box-shadow:
            0 8px 25px rgba(0, 0, 0, 0.35);

        display: flex;
        align-items: center;
        justify-content: center;

        font-size: 1.15rem;

        cursor: pointer;

        transition:
            transform .3s ease,
            background .3s ease,
            box-shadow .3s ease;
    }

    .mobile-mode-options {
        position: absolute;

        /*left: 50%;*/
        right: 55px;
        top: 0;
        flex-shrink: 0;
        transform:
            translateX(40px)
            scale(.85);

        display: flex;
        gap: 8px;

        opacity: 0;

    
        pointer-events: none;

         transition:
          opacity .3s ease,
        transform .35s cubic-bezier(.22, 1, .36, 1);
    }

    .mobile-mode-selector.is-open .mobile-mode-options {
       opacity: 1;
        
        pointer-events: auto;

        transform:
            translateX(0)
            scale(1);

            transition:
        transform .35s cubic-bezier(.22, 1, .36, 1);
    }

    .mobile-mode-selector.is-open .mobile-mode-trigger {
        transform: scale(.9);
        /*pointer-events: none;*/
    }

    
    .mobile-mode-trigger,
    .mobile-mode-option {
        line-height: 1;
        padding-bottom: 5px;
    }

    .leaflet-popup-content-wrapper,
    .leaflet-popup-tip {
        background: rgba(255, 255, 255, 0.32) !important;

        backdrop-filter: blur(18px);
        -webkit-backdrop-filter: blur(18px);

        /*border: 1px solid rgba(255, 255, 255, 0.35);*/
        border: 1px solid rgba(0,0,0,.2);
        background-clip: padding-box;

        box-shadow:
            0 8px 25px rgba(0, 0, 0, 0.18);
    }

    .map-legend {
        min-width: auto;
        width: auto;

        padding: 7px 9px;

        background: rgba(255, 255, 255, 0.22);

        backdrop-filter: blur(12px);
        -webkit-backdrop-filter: blur(12px);
        border: 1px solid rgba(0,0,0,.2);
        background-clip: padding-box;
        /*border: 1px solid rgba(255, 255, 255, 0.35);*/
        border-radius: 12px;

        box-shadow:
            0 5px 18px rgba(0, 0, 0, 0.15);

        font-size: 0.78rem;
    }

    .legend-item {
        margin-bottom: 3px;
    }
.map-legend hr, .map-legend strong {
    display: none;
}
    .legend-color {
        width: 11px;
        height: 11px;
        margin-right: 6px;
    }

     .legend-item:last-child {
        margin-bottom: 0;
    }

    #station-results:empty {
    box-shadow: none !important;
    border: none !important;
    background: transparent !important;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    display: none !important;
}
     
    /*.mobile-search.expanded {
        width: calc(100vw - 20px);
        left: 10px;
        right: 10px;
    }
*/
    .mobile-search {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 10px;
        left: 90%;
        transform: translateX(-50%);

        width: 46px;
        height: 46px;

        margin: 0 !important;
        padding: 0 !important;

        z-index: 1500;
        /*border: 2px solid red;*/

        /*box-shadow: 0 5px 18px rgba(0, 0, 0, 0.15);*/
                /*border: 1px solid rgba(0,0,0,.2);*/
            /*background-clip: padding-box;*/

        border-radius: 50%;

        transition:
            width 0.3s ease,
            border-radius 0.3s ease,
            box-shadow 0.3s ease,
            background 0.3s ease;
    }

.mobile-search-icon {
    position: absolute;
    z-index: 2;
    pointer-events: none;
    width: 20px;
    height: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.mobile-search-icon svg {
    width: 20px;
    height: 20px;

    stroke: rgba(85, 85, 85, 0.9);
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.mobile-search.expanded .mobile-search-icon {
    display: none;
}

.mobile-search.expanded {
    width: calc(100vw - 30px);
    left: 50%;
    right: auto;

    transform: translateX(-50%);

    border-radius: 999px;
}



    

    .mobile-search input::placeholder {
        color: transparent;
    }

   .mobile-search input,
.mobile-search input:hover,
.mobile-search input:focus,
.mobile-search input:active {
    background: rgba(255, 255, 255, 0.20) !important;

    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);

    /*border: 1px solid rgba(255, 255, 255, 0.35);*/
    border: 1px solid rgba(0,0,0,.2);
        /*background-clip: padding-box;*/

    border-radius: 999px !important;

    box-shadow:
        0 8px 25px rgba(0, 0, 0, 0.38) !important;

    outline: none;
}

.mobile-search input {
    color: #fff;
    caret-color: #fff;
}

#station-search {
    height: 100%;
}

#station-panel {
    max-height: 220px;
    min-height:180px;
    overflow-y: auto;
}

.mobile-search input {
    box-shadow: none !important;
}

.station-bottom-sheet {
    --drag-offset: 0px;
    position: fixed;

    left: 0;
    right: 0;
    bottom: 0;
    height: auto;
    min-height: 100dvh !important;
    max-height: 100dvh !important;

    background: rgba(255, 255, 255, 0.72);

    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);
    /*isolation: isolate;*/
    border: 1px solid rgba(255, 255, 255, 0.35);
    border-bottom: none;

    border-radius: 24px 24px 0 0;

    box-shadow:
        0 -8px 30px rgba(0, 0, 0, 0.18);

    z-index: 100;

    transform: translateY(
        calc(100% - 24px + var(--drag-offset))
    );

    transition:
        transform 0.35s cubic-bezier(0.22, 1, 0.36, 1);

    overflow: visible !important;
    pointer-events: auto;
    touch-action: none;
    
    
}

.station-bottom-sheet.is-open {
    /*transform: translateY(
        calc(var(--station-panel-height) + var(--drag-offset) - var(--station-panel-extension))
        ) !important;*/
    transform: translateY(
       calc((var(--station-panel-height) - var(--station-panel-content-height) + var(--drag-offset)) )
    ) !important;
}

.station-panel-wrapper {
     --drag-offset: 0px;
    position: relative;
}


/*.station-panel-glass {
    position: relative;

    left: 0;
    right: 0;
    top: 100%;
    
   
    height: 600px;

    background:
        linear-gradient(
            to bottom,
            rgba(255,255,255,0.78),
            rgba(255,255,255,0.70)
        );

backdrop-filter: blur(20px);
-webkit-backdrop-filter: blur(20px);

border: 13px solid red;

box-shadow:
    0 8px 30px rgba(0, 0, 0, 0.12);



    pointer-events: none;

    z-index: 1;
   

    
}*/



/*.station-panel-glass {
    left: 0;
    right: 0;
    bottom: 0;
    
    height: 300px;

    background: rgba(255, 255, 255, 0.32);

    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);
    z-index: 99;

    pointer-events: none;
}

/*#station-panel .station-panel-body {
    
   
    margin-bottom: 20em;
    
}*/


.station-panel-handle {
    position: relative;
    cursor: grab;
    pointer-events: auto;
    height: 20px !important;
    width: 100% !important;
    display: flex;
    align-items: center;
    justify-content: center;
    /*border: 2px solid blue;*/
    margin-top: -0.5em;
    
}

.station-panel-handle::before {
    content: '';
    width: 42px;
    height: 5px;
    border-radius: 999px;
    opacity: 1 !important;
    background: rgba(255, 255, 255, 0.776) !important;
}




/*
body.search-active #station-panel.is-open {
    transform: translateY(65%) !important;
}*/

#station-results {
    position: absolute;

    top: 56px;
    left: 10px;
    right: 10px;

    background: rgba(255, 255, 255, 0.20);

    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);

    /*border: 1px solid rgba(255, 255, 255, 0.30);*/
    border: 1px solid rgba(0,0,0,.2);
        background-clip: padding-box;
    border-radius: 14px;

    box-shadow:
        0 8px 25px rgba(0, 0, 0, 0.18);

    z-index: 1600;

    max-height: 55vh;
    overflow-y: auto;
}







    body:has(.map-page) footer {
        display: none !important;
    }

    body:has(#map) .site-footer {
        display: none !important;
    }

    main {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .map-container {
        width: 100%;
        margin: 0;
        border-radius: 0;
        box-shadow: none;
    }

    main .container-fluid {
        padding-left: 0;
        padding-right: 0;
        margin-top: 0 !important;
    }

    .map-layout {
        position: relative;
        width: 100%;
        height: calc(100dvh - var(--navbar-height));
        margin: 0;
        padding: 0;
    }

    .map-search-panel {
        position: absolute;
        top: -5px;
        left: 0;
        width: 100%;
        z-index: 1000;
        pointer-events: none;
    }

    .map-search-panel .card {
        height: auto;
        background: transparent;
        border: none;
        box-shadow: none !important;
    }

    .map-search-panel .card-body {
        padding: 5px 10px 10px !important;
    }


    .map-search-panel input,
    .map-search-panel #station-results,
    /*.map-search-panel button,*/
    .map-search-panel form {
        pointer-events: auto;
    }

    .mobile-mode-selector {
    pointer-events: auto;
}


    .map-layout > .col-lg-8 {
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
    }

    .map-container {
        width: 100%;
        height: 100%;
    }

    #map {
        height: 100%;   
    }

    .leaflet-top.leaflet-left {
        top: auto;
        bottom: 20px;
    }

    
    .btn-close {
        width: 30px;
        height: 30px;
    }

    #station-panel .btn-close {
        display: block !important;
    }

    body.station-panel-open .leaflet-bottom.leaflet-right, body.station-panel-open .leaflet-top.leaflet-left {
        display: none;
    }

    #station-panel {
    /*border: 1px solid rgba(255, 255, 255, 0.35);*/
    
    border: 1px solid rgba(0,0,0,.2);
        background-clip: padding-box;
border-bottom: none;
    border-radius: 24px 24px 0 0;

    background: rgba(255, 255, 255, 0.32);

    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);

    box-shadow:
        0 -8px 30px rgba(0, 0, 0, 0.18);

    overflow: hidden;
}

.station-panel-header {
     display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 10px 16px 8px;

    background: transparent;
    border: none;
}


.station-panel-title-row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

#station-panel .station-panel-body {
    padding: 8px 16px 20px;
    background: transparent;
}

a.leaflet-control-zoom-in,
a.leaflet-control-zoom-out {
    

    background: rgba(255, 255, 255, 0.22) !important;
    color: rgb(52, 52, 52) !important;

    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);

    border: 1px solid rgba(255, 255, 255, 0.35);

    box-shadow:
        0 5px 18px rgba(0, 0, 0, 0.15);

    font-size: 20px;
}

.leaflet-control-zoom a:first-child {
    border-radius: 12px 12px 0 0;
}

.leaflet-control-zoom a:last-child {
    border-radius: 0 0 12px 12px;
}

.leaflet-control-zoom a:hover {
    background: rgba(255, 255, 255, 0.32);
    color: white;
}

     

body {
    padding-right: 0 !important;
}
    
    
}